<div class="container">
  <ng-container *ngIf="searchedPlace | async as searchedPlace">
    <div *ngIf="sevenDaysWeatherData | async as data">
      <div class="searched-place">{{ searchedPlace }}</div>
      <ng-container *ngFor="let day of data.daily; let i = index">
        <div
          [ngClass]="{
            'bottom-border-separator': i !== data.daily!.length - 1
          }"
          class="flex"
        >
          <div class="left">
            <div class="date">{{ day.dt! * 1000 | date : "MMM d" }}</div>
            <img
              [src]="
                day.weather && day.weather.length !== 0
                  ? weatherIconBaseUrl + day.weather![0].icon + '@2x.png'
                  : ''
              "
              alt="weather-icon"
              class="weather-icon"
            />
            <!-- <div class="temp-and-icon"> -->

            <div class="min-max-temp">
              min {{ Math.trunc(day.temp?.min! - 273.15) }}&#8451; / max
              {{ Math.trunc(day.temp?.max! - 273.15) }}&#8451;
            </div>
          </div>
          <div class="description">{{ day.weather![0].main }}</div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
