<div class="container">
  <geoapify-geocoder-autocomplete
    [skipIcons]="false"
    [skipDetails]="false"
    [suggestionsFilter]="suggestionsFilter"
    (placeSelect)="placeSelected($event)"
    (suggestionsChange)="suggestionsChanged($event)"
    (userInput)="userInput($event)"
  >
  </geoapify-geocoder-autocomplete>

  <div class="button-group">
    <button type="button" class="btn btn-info margin-bottom">
      Get current weather
    </button>
    <button type="button" class="btn btn-info margin-bottom">
      Get 1 hour weather forecast
    </button>
    <button type="button" class="btn btn-info margin-bottom">
      Get 2 days weather forecast
    </button>
    <button type="button" class="btn btn-info margin-bottom">
      Get 7 days weather forecast
    </button>
  </div>
</div>
