<div class="container">
  <ng-container *ngIf="searchedPlace | async as searchedPlace">
    <app-loading-spinner
      *ngIf="!(currentWeatherData | async)"
    ></app-loading-spinner>
    <div *ngIf="currentWeatherData | async as data">
      <div class="searched-place">{{ searchedPlace }}</div>
      <div class="temp-and-icon">
        <div class="current-temperature">
          {{ Math.trunc(data.current?.temp! - 273.15) }}&#8451;
        </div>
        <img
          [src]="
            data.current?.weather && data.current?.weather?.length !== 0
              ? weatherIconBaseUrl +
                (data.current?.weather)![0].icon +
                '@2x.png'
              : ''
          "
          alt="weather-icon"
          class="weather-icon"
        />
      </div>
      <div class="feels-like">
        Feels like {{ Math.trunc(data.current?.feels_like! - 273.15) }}&#8451;
      </div>
    </div>
  </ng-container>
</div>
