.container {
  width: 50%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  width: 40px;
  height: auto;
}

.current-temperature {
  width: 18%;
  text-align: center;
  font-size: larger;
}
